<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
	<gap:plugin name="com.paypal.cordova.mobilesdk" />
    	<gap:plugin name="org.apache.cordova.console" />
    	<gap:plugin name="org.apache.cordova.device" />
    	<gap:plugin name="org.apache.cordova.dialogs" />
    	<gap:plugin name="org.apache.cordova.network-information" />
    	<gap:plugin name="org.apache.cordova.inappbrowser" />
    	<gap:plugin name="org.apache.cordova.splashscreen" />
    	<gap:plugin name="com.phonegap.plugins.pushplugin" />
    	<gap:plugin name="org.apache.cordova.statusbar" />
        <gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" />
        <gap:plugin name="com.danielcwilson.plugins.googleanalytics"/>
    	<gap:plugin name="nl.x-services.plugins.socialsharing"/>
    	<gap:plugin name="com.telerik.plugins.nativepagetransitions"/>
		<gap:plugin name="com.phonegap.plugins.facebookconnect" spec="0.4.0">
        <param name="APP_ID" value="1776350525926519" />
        <param name="APP_NAME" value="eluvy" />
         </gap:plugin>
	<gap:plugin name="com.phonegap.plugins.facebookconnect" spec="0.4.0">
        <param name="APP_ID" value="1776350525926519" />
        <param name="APP_NAME" value="eluvy" />
         </gap:plugin>
	
	
    <content src="index.html" />
    <access origin="*" />
</widget>
